body {
    color: #222
    font-family: arial, sans-serif;
    margin: 0 auto;
}

.nav-wrapper {
    background-color: cadetblue;
    display: flex;
}

.left-link-container {
    display: flex;
    margin: 0;
}

.right-link-container {
    display: flex;
    margin: 0;
}

.left-links {
    flex-direction: column;
}